/* Slider */
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;}/* -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent; */
.slick-list{position:relative;display:block;/*overflow:hidden;*/margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}

.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}

.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}

.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden {display:none;}

/* Arrows */
.slick-prev,.slick-next{font-size:0;line-height:0;/*display:inline-block;*/width:30px;height:16px;border-radius:2px;text-indent:-9999px;padding:0;cursor:pointer;color:transparent;border:none;outline:none;background:transparent;}
.slick-prev{background:#d6d6d6 url('https://images.joins.com/ui_joongang/news/mw/article/i_article.png') 12px -78px no-repeat;background-size:300px 150px;left:50px;}
.slick-next{background:#d6d6d6 url('https://images.joins.com/ui_joongang/news/mw/article/i_article.png') -7px -78px no-repeat;background-size:300px 150px;right:50px;}
.slick-prev:active,.slick-next:active{background-color:#ababab;}

/* Dots */
.slick-dots{margin:200px 10px 0;padding:7px 0 10px;text-align:center;}
.slick-dots ul{display:inline-block;margin:0 9px;}
.slick-dots li{position:relative;display:inline-block;margin:0 3px;padding:0;cursor:pointer;vertical-align:top;}
.slick-dots li button{width:7px;height:7px;border:1px solid #dedede;border-radius:6px;text-indent:-9999px;}
.slick-dots li button:hover,.slick-dots li button:focus,.slick-dots li.slick-active button{background-color:#d6d6d6;}
/*.slider button{display:none !important;}*/
.slider .slick-arrow{display:none;}

/* 예외 - 베이지 */
.index .column .slick-prev,.index .column .slick-next{background-color:#cfc0aa}
.index .column .slick-dots li button,.section_sc ul.slick-dots li button{border:1px solid #cfc0aa;}
.index .column .slick-dots li button:hover,.index .column .slick-dots li button:focus,.index .column .slick-dots li.slick-active button{background-color:#cfc0aa;}
.section_sc ul.slick-dots li button:hover,.section_sc ul.slick-dots li button:focus,.section_sc ul.slick-dots li.slick-active button{background-color:#cfc0aa;}
.index .column .slick-prev:active,.index .column .slick-next:active{background-color:#ababab;}

/* 예외 - 화이트 - 쇼케이스 - 버튼 */
.showcase .slick-dots li button,.word .slick-dots li button{border:1px solid #fff;vertical-align:top;}
.showcase .slick-dots li button:hover,.showcase .slick-dots li button:focus,.showcase .slick-dots li.slick-active button{background-color:#fff;}
.word .slick-dots li button:hover,.word .slick-dots li button:focus,.word .slick-dots li.slick-active button{background-color:#fff;}

/* 예외 - 화이트 - 쇼케이스 - 화살표 */
.showcase .slick-arrow,.word .slick-arrow{position:absolute;top:50%;display:block;width:26px;height:30px;margin-top:-10px;background:url('https://images.joins.com/ui_joongang/news/mw/v_jplus_sprite.png') 0 0 no-repeat;background-size:15px 200px;z-index:1;}
.showcase .slick-prev ,.word .slick-prev{left:0;background-position:15px 4px;}
.showcase .slick-prev:active ,.word .slick-prev:active{background-position:15px -100px;}
.showcase .slick-next ,.word .slick-next{right:0;background-position:0 -30px;}
.showcase .slick-next:active,.word .slick-next:active{background-position:0 -136px;}

 .word .slick-arrow{top:13%;margin-top:0;background-image:url('https://images.joins.com/ui_joongang/news/mw/section/i_slick_arrow.png');}

 .swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}